<div class="nav">

  <mat-toolbar color="primary" class="navigation">
    <div class="hedder">
      <img src="assets/images/soccer-ball.png" id="icon-img">
      <span id="hedder-name">SLFP</span>
    </div>
    <div>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Clubs</a></li>
          <li><a href="#" routerLink="/match">Match</a></li>
        </ul>
      </nav>

    </div>
  </mat-toolbar>
</div>


<!--</header>-->

<div class="container">
  <router-outlet></router-outlet>
</div>


